<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<!--<header th:include="partials/header.html :: header"/>-->
<form action="/posts/create" th:action="@{/posts/create}" method="post" th:object="${post}">
    Title:
    <label>
        <input th:field="*{title}" />
    </label>
    <br/>
    Description:
    <label>
        <input th:field="*{body}" />
    </label>
    <br/>
    <input type="submit" />
</form>
<!--<footer th:include="partials/footer.html :: footer"/>-->
<th:block th:include="partials/script.html :: script"/>
</body>
</html>