<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <th:block sec:authorize="!isAuthenticated()">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Log in</a></li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sign-up}">Sign Up</a></li>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <li class="nav-item"><a class="nav-link" href="/posts/create">Create Post</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/{username}">View Profile</a></li>
        <li class="nav-item">
            <form class="form-inline" th:action="@{/logout}" th:method="post">
                <button class="btn-link btn">Logout</button>
            </form>
        </li>
    </th:block>
</nav>

</body>
</html>